.HotelRoomDetails {
  text-align: left;
  margin-left:10pt;
}

.HotelName{
  float:left; 
  font-size:13pt;  
  font-weight:700;
  margin-top: -325px;
  margin-left: 550px;
  color: black;
  opacity: 100%;
  position:relative;
  overflow:hidden;
  white-space: nowrap;
}

.HotelAddress{
  float:left; 
  font-size:10pt;  
  font-weight: lighter;
  margin-top: -290px;
  margin-left: 550px;
  color: black;
  opacity: 100%;
  position:relative;
  overflow:hidden;
  white-space: nowrap;
}

.HotelRoomBox{
  border-width:2px;
  border-style:solid;
  border-color:purple;
  margin-top: 1pt;
  margin-bottom: 1pt;
  

}

.HotelRoomBoxLeft{
  flex: 1;
  justify-content: flex-start;
  margin-left: 10pt;
}

.HotelRoomBoxRight{
  flex: 1;
  justify-content: flex-end;
  align-items:flex-end;
  float: right;
  margin-right: 10pt;
}


.FilterBox{
  border: 0.5px solid cyan;
  margin-right:10pt;
  margin-top: 200pt;
}

.DescriptionDropdown{
  float: right;
  margin-right:10pt;
  margin-bottom: 20pt;
  border: 0.5px solid cyan;
}

.HotelPicsLeftHandleNoHover{
  float:left; 
  font-size:30pt;  
  margin-top: -185px;
  color: white;
  opacity: 50%;
  position:relative;
  background-color: transparent;
  border: transparent
}

.HotelPicsLeftHandleHover{
  float:left; 
  font-size:30pt;  
  margin-top: -185px;
  color: white;
  opacity: 100%;
  position:relative;
  background-color: transparent;
  border: transparent
}

.HotelPicsRightHandleNoHover{
  float:right; 
  font-size:30pt;  
  margin-top: -185px;
  color: white;
  opacity: 50%;
  position:relative;
  background-color: transparent;
  border: transparent
}

.HotelPicsRightHandleHover{
  float:right; 
  font-size:30pt;  
  margin-top: -185px;
  color: white;
  opacity: 100%;
  position:relative;
  background-color: transparent;
  border: transparent
}

.HotelPicsNumbering{
  float:left; 
  font-size:15pt;  
  margin-top: -30px;
  margin-left:10px;
  color: white;
  opacity: 100%;
  position:relative;
  background-color: grey 50%;

}

.SliderMax{
  -webkit-appearance: none;
 
  background-color: transparent; /*grey;*/
  border-radius: 5px;
  /*background-image: transparent,*/
  border: 0.5px solid cyan;
  border-color: linear-gradient(cyan, cyan);
  background-repeat: no-repeat;
  height: 3pt;
  width: 200pt;
}



.SliderMax::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: cyan;
  border-radius : 50%;
  border-color: white;
  cursor: pointer;
  border: 0.5px solid cyan;
  background: contain;

} 
