.HotelRoomDetails {
  text-align: left;
  margin-left:10pt;
}

.Hotelname{
  text-align: center;
  margin-left: 10pt;
}

.HotelRoomBox{
  border-width:2px;
  border-style:solid;
  border-color:black;

}

.HotelRoomBoxLeft{
  flex: 1;
  justify-content: flex-start;
  margin-left: 10pt;
}

.HotelRoomBoxRight{
  flex: 1;
  justify-content: flex-end;
  align-items:flex-end;
}


/* .SliderMax{
  -webkit-appearance: none;
  height: 1em;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(purple, purple);
  background-repeat: no-repeat;

  width: 200pt;
}



.SliderMax::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: purple;
  border-radius : 50%;
  cursor: pointer;
  border: 0.5px solid black;
  background: contain;

} */


